.bg{
    margin:10; padding:50;text-align: center;

}
.header{
    overflow: hidden;
    margin: auto;
    width: 80%;
    padding: 15px;
    font-size: 18px;
    
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
li{
    float: left;
    margin-right: 15px;
    padding: 2px 10px;
    background-color:#fdfdfd;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #206199;
    bottom: 10px;
}
.logo{
    display: inline-block;
}
#footer{
    text-align: center;
    box-shadow: 4px 4px 4px #206199;
}

