body{ background-image: url("imagens/FullStack-Image.jpg"),
    url("imagens/FullStack-m.jpg"),
    url("imagens/FullStack-p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    width:90%;margin: 0 auto;
    min-width:600px;
    max-width:2000px;
    text-align: center;
}
nav{
    text-align: center;
}   
p{
    font-size: 18px Arial;
    display: inline;
}

.bg{
   background-image: url("imagens/FullStack-Image.jpg");
}
h1{
    padding: 12px 12px ;
    text-align: center;
}
#menu ul li a {
    padding: 2px 10px;
    display: inline;
    background-color:#fdfdfd;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    border-radius: 10px;
}
#menu ul li { 
    display: inline;
 }
 section{
     background-color: #fc6767;
     box-shadow: 12px 12px 5px #262525;
 }
.divpara{
    background: #EDEDED;
    box-shadow: 5px 5px 5px 5px #333;
    border-radius: 13px;
}
footer{
    box-shadow: 4px 4px 4px 4px red;
}
.fixed{
    position: fixed;
    right: 20px;
    bottom: 20px;
    }
.quadrado{
    background-color: #291212;
    color: #EDEDED;
    width: 200px;
    height: 300px;
    display: inline-block;
          

 }